[package]
name = "backend"
version = "0.1.0"
edition = "2024"
rust-version = "1.92"

[dependencies]
axum = "0.8.8"
sqlx = { version = "0.8.6", features = ["postgres", "runtime-tokio", "time", "uuid"] }
tokio = { version = "1.49.0", features = ["full"] }
