name: CI

on:
    push:
        branches: [main]
        tags: ["v*"]
    pull_request:
        branches: [main]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

env:
    RUSTFLAGS: "-D warnings"
    RUSTDOCFLAGS: "-D warnings"
    CARGO_TERM_COLOR: always
    RUST_BACKTRACE: 1

jobs:
    fmt:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: backend
        steps:
            - uses: actions/checkout@v4
            - name: Install pinned toolchain
              run: rustup toolchain install
            - name: Add rustfmt component
              run: rustup component add rustfmt
            - uses: Swatinem/rust-cache@v2
            - uses: taiki-e/install-action@just
              # not used, but required in justfile
            - uses: taiki-e/install-action@cargo-hack
            - run: just fmt --check

    clippy:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: backend
        steps:
            - uses: actions/checkout@v4
            - name: Install pinned toolchain
              run: rustup toolchain install
            - name: Add clippy component
              run: rustup component add clippy
            - uses: Swatinem/rust-cache@v2
            - uses: taiki-e/install-action@just
            - uses: taiki-e/install-action@cargo-hack
            - run: just lint

    test:
        runs-on: ubuntu-latest
        needs: [fmt, clippy]
        defaults:
            run:
                working-directory: backend
        steps:
            - uses: actions/checkout@v4
            - name: Install pinned toolchain
              run: rustup toolchain install
            - uses: Swatinem/rust-cache@v2
            - uses: taiki-e/install-action@just
            - uses: taiki-e/install-action@cargo-hack
            - run: just test

    doc:
        runs-on: ubuntu-latest
        needs: [fmt, clippy]
        defaults:
            run:
                working-directory: backend
        steps:
            - uses: actions/checkout@v4
            - name: Install pinned toolchain
              run: rustup toolchain install
            - name: Add rust-docs component
              run: rustup component add rust-docs
            - uses: Swatinem/rust-cache@v2
            - uses: taiki-e/install-action@just
            - uses: taiki-e/install-action@cargo-hack
            - run: just doc --private

    build:
        runs-on: ubuntu-latest
        needs: [fmt, clippy]
        defaults:
            run:
                working-directory: backend
        steps:
            - uses: actions/checkout@v4
            - name: Install pinned toolchain
              run: rustup toolchain install
            - uses: Swatinem/rust-cache@v2
            - run: cargo build
